# Editor configuration, see http://editorconfig.org

[*]
charset = utf-8
indent_style = tab
indent_size = 3
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
indent_style = space
indent_size = 4
max_line_length = off
trim_trailing_whitespace = false
