/**
 * Global Styles for Stock Watcher - style.less
 */
:root {
  --white: #fff;
  --gray-light: #ddd;
  --gray: #bbb;
  --black: #444;
  --green: #73ad21;
  --forest: #008001;
  --red: #f00;
  --padding-v: 20px;
  --padding-v-more: 40px;
  --padding-h: 30px;
  --padding-h-more: 50px;
  --size-h1: 36px;
  --size-h2: 24px;
  --size-h3: ;
  --size-h4: ;
  --size-h5: ;
  --size-h6: ;
  --stock-card-width: 320px;
  --stock-card-chart-height: 8em;
  --stock-card-row-height: 4em;
}
body {
  color: #444;
  font-family: "Droid Serif", Cambria, Georgia, Times, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #ddd;
}
* {
  box-sizing: border-box;
}
pre,
code {
  font-family: "Courier New", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: bold;
  margin-top: 0;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-bottom: 20px;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-bottom: 10px;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 24px;
}
h3,
.h3 {
  font-size: ;
}
h4,
.h4 {
  font-size: ;
}
h5,
.h5 {
  font-size: ;
}
h6,
.h6 {
  font-size: ;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
.footer {
  margin-top: 40px;
  margin-bottom: 40px;
  color: #bbb;
  font-size: 0.72em;
  text-align: center;
}
.footer a {
  color: #73ad21;
  text-decoration: none;
}
.footer a:hover {
  color: #008001;
}
/*input,select,textarea*/
.form-control,
.form-button {
  margin-left: 7.5px;
  margin-right: 7.5px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.form-control {
  border-style: solid;
  padding-left: 30px;
  padding-right: 30px;
  border-color: #bbb;
  border-radius: 4px;
  font-weight: bold;
}
.form-small {
  font-size: 0.72em;
}
.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-style: solid;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
.card {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  border-radius: 4px;
}
/*input[type='range']*/
.minmax-chart {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transform: rotate(-90deg);
  color: #bbb;
}
.minmax-chart:focus {
  outline: none;
}
.minmax-chart::-webkit-slider-runnable-track {
  width: 8em;
  height: 2px;
  border-color: transparent;
  cursor: default;
  background-color: #bbb;
}
.minmax-chart::-webkit-slider-thumb {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid currentcolor;
  cursor: default;
  -webkit-appearance: none;
          appearance: none;
  margin-top: -10px;
}
.minmax-chart::-moz-range-track {
  width: 8em;
  height: 2px;
  border-color: transparent;
  cursor: default;
  background-color: #bbb;
}
.minmax-chart::-moz-range-thumb {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid currentcolor;
  cursor: default;
}
.minmax-chart::-ms-track {
  width: 8em;
  height: 2px;
  cursor: default;
  border-radius: 0;
  background: transparent;
  border-color: transparent;
  border-width: 10px 0;
  color: transparent;
}
.minmax-chart::-ms-fill-lower {
  background-color: #bbb;
}
.minmax-chart::-ms-fill-upper {
  background-color: #bbb;
}
.minmax-chart::-ms-thumb {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid currentcolor;
  cursor: default;
}
.for-screenreaders {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
/*# sourceMappingURL=style.css.map */