/**
 * Variables - variables.less
 */


//! FONTS
//! --------------------------------------------------

@font-droid:   "Droid Serif";
@font-serif:   Cambria, Georgia, Times, serif;
@font-emoji:   "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
@font-stack:   @font-droid, @font-serif, @font-emoji;


//! COLORS
//! --------------------------------------------------

@white:        #fff;
@gray-light:   #ddd;
@gray:         #bbb;
@black:        #444; // "re-mapped" for convenience

@green:        #73ad21;
@forest:       #008001;
@red:          #f00;


//! SPACING
//! --------------------------------------------------

@base-padding-v:   20px;
@base-padding-h:   16px;


//! TYPOGRAPHY
//! --------------------------------------------------

@size-h1:   36px;
@size-h2:   24px;
@size-h3:   ;
@size-h4:   ;
@size-h5:   ;
@size-h6:   ;
