/**
 * Variables - variables.less
 */


//! FONTS
//! --------------------------------------------------

@font-droid:   "Droid Serif";
@font-serif:   Cambria, Georgia, Times, serif;
@font-emoji:   "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
@font-stack:   @font-droid, @font-serif, @font-emoji;


//! COLORS
//! --------------------------------------------------

@white:        #fff;
@gray-light:   #ddd;
@gray:         #bbb;
@gray-dark:    #777;
@black:        #444; // "re-mapped" for convenience

@green:        #73ad21;
@forest:       #008001;
@red:          #f00;


//! TYPOGRAPHY
//! --------------------------------------------------

@size-h1:   36px;
@size-h2:   24px;
@size-h3:   ;
@size-h4:   ;
@size-h5:   ;
@size-h6:   ;

@size-small:   .72em;


//! GENERIC DEFAULTS
//! --------------------------------------------------

//! -- Spacing
/// ------------------------
@padding-v-less:   10px;
@padding-h-less:   10px;
@padding-v:        20px;
@padding-h:        30px;
@padding-v-more:   (@padding-v * 2);
@padding-h-more:   (@padding-h + @padding-v);

//! -- Appearance
/// ------------------------
@base-border-radius:   4px;


//! FORMS
//! --------------------------------------------------

@input-padding-v:       16px;
@input-padding-h:       (@padding-h / 4);

@input-border-radius:   @base-border-radius;
@input-border-color:    @gray;


//! BUTTONS
//! --------------------------------------------------

@button-border-radius:   @base-border-radius;


//! CARDS
//! --------------------------------------------------

@card-padding:         10px;
@card-border-radius:   @base-border-radius;


//! MIN/MAX CHART
//! --------------------------------------------------

@minmax-height:          8em;

@minmax-pointer-color:   currentcolor;
@minmax-pointer-size:    .8em;

@minmax-line-color:      currentcolor;
@minmax-line-width:      2px;


//! INDIVIDUAL COMPONENTS
//! --------------------------------------------------
//  Many of these variables will be exposed as CSS var()s for use in the component CSS.

@stock-card-width:          320px;
