//
// Global Base Element Styles - base.less
//


//! CSS VARIABLES
//! --------------------------------------------------
//  I'm selectively exposing certain variables for use in the component CSS.  This depends on CSS
//  custom properties (variables), which I probably wouldn't rely on in production just yet.
//  Instead, I'd look into Vue's built-in CSS preprocessing.

:root {
	--white:      @white;
	--gray-light: @gray-light;
	--gray:       @gray;
	--black:      @black;
	--green:      @green;

	--padding-v:      @base-padding-v;
	--padding-v-more: (@base-padding-v * 2);

	--size-h1: @size-h1;
	--size-h2: @size-h2;
	--size-h3: @size-h3;
	--size-h4: @size-h4;
	--size-h5: @size-h5;
	--size-h6: @size-h6;
}


//! ELEMENTS, ETC.
//! --------------------------------------------------

body {
	color: @black;
	font-family: @font-stack;
	background-color: @gray-light;
}

//! -- Type
/// ------------------------
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-weight: bold;
	margin-top: 0;
}
h1, .h1,
h2, .h2,
h3, .h3 {
	margin-bottom: (@base-padding-v * 2);
}
h4, .h4,
h5, .h5,
h6, .h6 {
	margin-bottom: @base-padding-v
}
h1, .h1 {
	font-size: @size-h1;
}
h2, .h2 {
	font-size: @size-h2;
}
h3, .h3 {
	font-size: @size-h3;
}
h4, .h4 {
	font-size: @size-h4;
}
h5, .h5 {
	font-size: @size-h5;
}
h6, .h6 {
	font-size: @size-h6;
}
p {
	margin-top: 0;
	margin-bottom: (@base-padding-v / 2);
}

